global-exclude *.py[cod]
global-exclude *.editorconfig
include gen_avr8/run/gen_avr8_run.py
include gen_avr8/conf/fosc.yaml
include gen_avr8/conf/mcu.yaml
include gen_avr8/conf/project_app.yaml
include gen_avr8/conf/project_lib.yaml
include gen_avr8/conf/template/app/cflags.template
include gen_avr8/conf/template/app/csflags.template
include gen_avr8/conf/template/app/Makefile.template
include gen_avr8/conf/template/app/module.template
include gen_avr8/conf/template/app/objects.template
include gen_avr8/conf/template/app/ocflags.template
include gen_avr8/conf/template/app/odflags.template
include gen_avr8/conf/template/app/sources.template
include gen_avr8/conf/template/app/subdir.template
include gen_avr8/conf/template/app/tools.template
include gen_avr8/conf/template/lib/aflags.template
include gen_avr8/conf/template/lib/cflags.template
include gen_avr8/conf/template/lib/csflags.template
include gen_avr8/conf/template/lib/Makefile.template
include gen_avr8/conf/template/lib/avr_lib_c.template
include gen_avr8/conf/template/lib/avr_lib_h.template
include gen_avr8/conf/template/lib/objects.template
include gen_avr8/conf/template/lib/ocflags.template
include gen_avr8/conf/template/lib/odflags.template
include gen_avr8/conf/template/lib/sources.template
include gen_avr8/conf/template/lib/subdir.template
include gen_avr8/conf/template/lib/tools.template
include gen_avr8/log/gen_avr8.log